<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fast-Simple-Chat</title>
</head>
<body>
    <h1>WebSocket Chat</h1>

    <form action="" onsubmit="sendMessage(event)">
        <label>Your ID: <input type="text" id="userId" autocomplete="off" value="some-user-id"/></label>
        <label>Room ID: <input type="text" id="roomId" autocomplete="off" value="some-room"/></label>
        <button onclick="connect(event)">Connect</button>
        <hr>
        <label>Message: <input type="text" id="messageText" autocomplete="off"/></label>
        <button>Send</button>
    </form>

    <ul id='messages'></ul>

    <script>
        let ws = null;

        function connect(event) {
            var userId = document.getElementById("userId")
            var roomId = document.getElementById("roomId")
            ws = new WebSocket("ws://localhost:8000/room/" + roomId.value + "/ws?user_id=" + userId.value);
            ws.onmessage = function(event) {
                var messages = document.getElementById('messages')
                var message = document.createElement('li')
                var content = document.createTextNode(event.data)
                message.appendChild(content)
                messages.appendChild(message)
            };
            event.preventDefault()
        }

        function sendMessage(event) {
            var input = document.getElementById("messageText")
            ws.send(input.value)
            input.value = ''
            event.preventDefault()
        }
    </script>
</body>
</html>